{# see https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-on-supported-platforms #}

{%- set dependencies = salt['grains.filter_by']({
    'Arch': ['python', 'gcc', 'make', 'python-pip'],
    'Debian': ['python3', 'g++', 'make', 'python3-pip'],
    'MacOS': ['python'],
    'RedHat': ['python3', 'gcc-c++', 'make', 'python3-pip'],
    'Suse': ['python3', 'gcc-c++', 'make', 'python3-pip'],
  }, 'os_family') -%}
