tool:
  asdf:
    defaults:                           # default asdf config values all users go here
      python: latest
  users:
    user:
      xdg: true                         # force xdg dirs
      dotconfig: true                   # sync this user's config from a dotfiles repo available as salt://dotconfig/<user>/asdf or salt://dotconfig/asdf
      persistenv: '.config/zsh/zshenv'  # persist asdf env vars to use xdg dirs permanently (will be appended to file relative to $HOME)
      rchook: '.config/zsh/zshrc'       # runcom that loads hooks, if you want to autoconfigure it (eg for direnv)
      asdf:
        python: latest                  # plugin: version to install. can be True (for latest), list or string
        integrate-direnv: true          # if direnv is installed, make sure envrc files can use asdf
        system:
          python: latest
