{%- from 'tool-asdf/map.jinja' import asdf %}

{%- set users = asdf.users | selectattr('asdf.golang', 'defined') | list -%} {# casting to list ensures it can be imported #}
{%- set pkg_mode = 'latest' if asdf.get('update_auto') and 'Darwin' != grains.kernel else 'installed' %}

{# see https://github.com/kennyp/asdf-golang#requirements #}
{%- set dependencies = salt['grains.filter_by']({
    'default': ['coreutils', 'curl'],
    'MacOS': ['coreutils'],
  }, 'os_family') -%}
